<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Зареєструйтесь</h1>

<form action="/registretion" method="post">
    <h3>Введіть логін та пароль</h3>
    <div>Логін - <input type="text" name="name"></div>
    <div>Пароль - <input type="password" name="password"></div>
    <div><input type="submit" value="Send"></div>
</form>
</body>
</html>